@import "../../styles/variables.scss";

.cell {
  min-width: 14px;
  min-height: 14px;
  padding: 0px 4px;
  border: 1px solid $border-color;
  color: $font-color;
  background-color: $background-color;
  overflow: hidden;
  // text-overflow: ellipsis;
  font-size: 14px;
  cursor: grab;

  &:hover {
    background-color: $font-color;
    color: $background-color;
  }
}

.light {
  color: $background-color;
  background-color: $font-color;
}
