@import "../../styles/index.scss";

.container {
  height: 60vw;
  width: 12vw;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;

  @include for-small-up {
    height: 30vw;
    width: 6vw;
  }
}
