@import "../styles/index.scss";

.page {
  &__content {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    @include for-small-up {
      justify-content: space-between;
    }
  }
}
